*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
  display: none;
}
/* =============================== Header ================================ */
header{
  height: 12rem;
  background: rgb(181, 181, 181);
  display: grid;
  place-items: center;
}

/* =============================== Container ================================ */

.container{
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}

/* =============================== Upload div ================================ */

.upload__container{
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

.upload__container > input{
  background: rgb(163, 78, 78);
  width: 20rem;
  height: 10rem;
  opacity: 0;
}

.mask{
  background: rgb(181, 181, 181);
  width: 20rem;
  height: 10rem;
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;
  z-index: -1;
}

/* =============================== Images ================================ */

.images{
  display: flex;
  gap: 1rem;
  margin: 2rem;
}

.images > div > img{
  border:4px double #000;
  border-radius: 2rem;
  width: 20rem;
  display: block;
}

.images > div > h3{
  background: rgb(181, 181, 181);
  width: 20rem;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
}

/* =============================== Downlaod ================================ */

.download__btn__container{
  display: none;
}

.download__btn__container > a{
  text-decoration: none;
  background: rgb(39, 235, 81);
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  border-radius: 1rem;
}

.download__btn__container > a:hover{
  border-color: rgb(39, 235, 81);
  background: transparent;
  color: rgb(39, 235, 81);
}
